.doc
*.iml
*.log
.idea
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.pyc
*.pyo
node_modules
.cache
dist
*.css
build
lib/*
coverage
yarn.lock
package-lock.json
es/*
# dumi
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
.env.local
